.channels-container {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    background-color: #2F3136;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 95.9vh;
    z-index: auto;
}

.channels-container::-webkit-scrollbar {
    width: 0px;
}

.channels-container-header {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    color: #8E9297;
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
}

#plus {
    font-size: 25px;
    cursor: pointer;
}

#plus:hover {
    color: white;
}

#hashtag {
    color: #8E9297;
    cursor: pointer;
    font-size: 20px;
    font-weight: 100;
}

.cog {
    color: #2F3136;
    justify-self: flex-end;
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    padding: 2%;
    cursor: pointer;
    border-radius: 5px;
}

.channel-name {
    padding-left: 4%;
    padding-right: 20%;
}

.channels-list-tag {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    border-radius: 5px;
    margin-right: 4%;
    margin-left: 4%;
    cursor: pointer;
    align-items: center;
    color: #8E9297;
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    padding: 3%;
    text-decoration: none;
}

.channels-list-tag:hover {
    background-color: #34373C;
    color: #D7D8DE;
    .channels-list-item {
        color: white;
    }
    .cog {
        color: white;
    }
}

.channels-list-tag:focus {
    background-color: #393C43;
    color: #FFFFE1;
}

.channel-banner-container {
    display: flex;
    background-color: #36393F;
    grid-column: 3 / 5;
    grid-row: 1 / 1;
    align-items: center;
    border-bottom: solid 1px black;
}

.channel-banner-name {
    padding-left: .5%;
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .5%;
}

#channel-banner-hashtag {
    font-size: 20px;
    color: #8E9297;
    margin-left: 2%;
}

.user-module-container {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    display: flex;
    justify-content: space-around;
    align-self: end;
    background-color: #292B2F;
    padding: 10%;
}

.user-module-username {
    color: white;
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.fa-sign-out-alt, .fa-home {
    cursor: pointer;
    color: white;
}

.server-dropdown-container {
    grid-row: 1 / auto;
    grid-column: 2 / 2;
    background-color: #2F3136;
    border-bottom: 1px solid black;
    cursor: pointer;
    z-index: 1;
   
}

.server-dropdown-container-div {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
}

.server-dropdown-container:hover{
    background-color: #34373C;
}

.dropdown-list {
    margin-top: 15px;
    background-color: #2F3136;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
    display: none;
}

.edit-server-name, .delete-leave-server {
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #B6B8BB;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    padding: 6% 4%;
    margin: 2% 2%;
    border-radius: 5px;
}

.delete-leave-server {
    color: #ED4245;
}

.edit-server-name:hover {
    color: white;
    background-color: #4752C4;
}

.delete-leave-server:hover {
    color: white;
    background-color: #ED4245;
}

#show-dropdown {
    display: block;
}