.discover-sidebar {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    background-color: #2F3136;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 95.9vh;
    z-index: auto;
}

.discover-sidebar::-webkit-scrollbar, .join-server-container::-webkit-scrollbar {
    width: 0px;
}

.discover-sidebar-title {
    margin: 16px 0px 16px 16px;
    font-weight: 700;
    color: white;
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 24px;
}

.discover-sidebar-header {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    background-color: #2F3136;
}

.join-server-container {
    grid-column: 3 / 5;
    grid-row: 2 / auto;
    background-color: #36393F;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 95.9vh;
}

.join-server-list {
    display: flex;
    flex-wrap: wrap;
}

.join-server-list-item {
    padding: 40px;
    background-color: #292B2F;
    border-radius: 8px;
    margin: 1%;
    text-align: center;
    color: white;
}