.edit-server-modal {
    background-color: #36393F;
    width: 300px;
    height: auto;
    border-radius: 8px;
    position: relative;
    top: 28%;
    left: 44%;
    padding: 1%;
    padding-right: 1.5%;
}

.edit-modal-cancel {
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    border-radius: 3px;
    font-size: 14;
    font-weight: 500;
    line-height: 16px;
    height: auto;
    border: none;
    padding: 8px 16px;
    margin-left: 13px;
    cursor: pointer;
    background-color: gray;
    color: #5865F2;
    width: 98%;
    text-align: center;
    margin-top: 3%;
}

.edit-modal-cancel:hover {
    background-color: lightgray;
}

.edit-modal-button {
    background-color: #5865F2;
    color: white;
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    border-radius: 3px;
    font-size: 14;
    font-weight: 500;
    line-height: 16px;
    height: auto;
    border: none;
    padding: 8px 16px;
    margin-left: 13px;
    cursor: pointer;
    width: 98%;
}

.edit-modal-button:hover {
    background-color: #4752C4;
}

.button-down {
    cursor: not-allowed;
}

.edit-modal-customize, .delete-modal-question {
    text-align: center;
    padding: 5%;
    font-weight: 750;
    font-size: 24px;
    line-height: 30px;
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: white;
}

.delete-server-modal {
    background-color: #36393F;
    width: 300px;
    height: auto;
    border-radius: 8px;
    position: relative;
    top: 28%;
    left: 44%;
    padding: 1%;
    padding-right: 1.5%;
}

.delete-modal-question {
    font-size: 16px;
}

.delete-modal-buttons-container {
    display: flex;
    justify-content: space-between;
}

.delete-modal-cancel {
    background-color: #5865F2;
    color: white;
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    border-radius: 3px;
    font-size: 14;
    font-weight: 500;
    line-height: 16px;
    height: auto;
    border: none;
    padding: 8px 16px;
    margin-left: 13px;
    cursor: pointer;
}

.delete-modal-cancel:hover {
    color: #5865F2;
    background-color: white;
}

.delete-modal-button {
    background-color: #ED4245;
    color: white;
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    border-radius: 3px;
    font-size: 14;
    font-weight: 500;
    line-height: 16px;
    height: auto;
    border: none;
    padding: 8px 16px;
    margin-left: 13px;
    cursor: pointer;
}

.delete-modal-button:hover {
    color: #ED4245;
    background-color: white;
}